# Hosts 

Host *
AddKeysToAgent yes
UseKeychain yes
Preferredauthentications publickey

Host server
HostName #ipv6 of server
User semklauke
IdentityFile ~/.ssh/id

Host serverv4
HostName #ipv4 of server
User semklauke
IdentityFile ~/.ssh/id

# git

Host git.rwth-aachen.de
IdentityFile ~/.ssh/git.rwth-aachen.de_id

Host git-ce.rwth-aachen.de
IdentityFile ~/.ssh/git.rwth-aachen.de_id

Host github.com
IdentityFile ~/.ssh/github.com_id

### Proper X11 forwarding ###
#ForwardAgent yes
#ForwardX11 yes
#ForwardX11Trusted yes
